body{
    background: #f7f8fc;
}
.Navbar{
    display: flex;
}

.content{
    margin-left:270px;
    padding:35px;
    width:calc(100% - 270px);
}

@media(max-width:992px){

    .content{
        margin-left:0;
        width:100%;
        padding:20px;
    }

}